
  <div class = "container form">
    <%= simple_form_for(@cocktail) do |f|%>
    <%= f.input :name, label: "Name your cocktail"%>
    <%= f.input :photo, label: "Add a photo", class: "photo-link"%>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit "+ add ingredients", class: "btn btn-info" %>
    <% end %>
    </div>



