<div class="d-flex banner add align-items-center justify-content-center">
  <h1 class= 'text-center'>Add ingredients</h1>
</div>
  <br>
  <h2 class= "text-center">the <%= @cocktail.name %></h2>
<div class=" form d-flex container mt-5 justify-content-around">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association(:ingredient, collection: Ingredient.all.order(:name)) %>
    <%= f.input :description, label: 'dose' %>
    <%= f.submit "+ add ingredient", class: "btn btn-primary" %>
  <% end %>

  <div class="doses ml-5">
    <% @cocktail.doses.each_with_index do |dose, index| %>
    <p><%= index + 1 %>. <%= dose.description %> of <%= dose.ingredient.name %> </p>
    <% end %>
    <%= link_to 'done', cocktail_path(@cocktail), class: "btn btn-warning"  %></div>
  </div>
